﻿{% extends "index.html" %}
{% block title %}EskeLAN - 403{% endblock %}
{% block main %}
<article>
	<header>
		<h1>403 - {{ insult() }}</h1>
	</header>
	<section>
		<p>Du har ikke tilgang til denne siden.</p>
        <p><a href="/">Gå tilbake til indekssiden</a></p>
	</section>
</article>
{% endblock %}
