﻿{% extends "index.html" %}
{% block title %}EskeLAN - 404{% endblock %}
{% block main %}
<article>
	<header>
		<h1>404 - {{ insult() }}</h1>
	</header>
	<section>
		<p>Denne siden har aldri eksistert eller eksisterer ikke lenger.</p>
        <p><a href="/">Gå tilbake til indekssiden</a></p>
	</section>
</article>
{% endblock %}
