﻿{% extends "index.html" %}
{% block title %}EskeLAN - 500{% endblock %}
{% block main %}
<article>
	<header>
		<h1>500 - Noe gikk galt</h1>
	</header>
	<section>
		<p>Et team med topptrente aper har blitt satt på saken for å løse problemet. Beklager.</p>
        <p><a href="/">Gå tilbake til indekssiden</a></p>
	</section>
</article>
{% endblock %}
