$desktop-width: 800px
$tablet-width: 600px

$blue: #3602B6
$purple: #580B87
$purplepink: #6C0F70
$pink: #870B45
$red: #7D0F0A

$linkblue: #6891E8

//new colors
$darkgrayblue: #1c2023
$graygray: darken(saturate(#747c84,10%),20%)
$grayererblue: lighten(saturate($darkgrayblue, 10%),5%)
$lightgray: lighten($darkgrayblue, 50%)

$article_spacing: 15px

$bodyfont: 'Ubuntu', sans-serif
$headerfont: 'Ubuntu Condensed', sans-serif
$prefont: 'Ubuntu Mono', sans-serif

$tile_color: $darkgrayblue
$text_color: darken(white, 25%)
$bold_color: white
$pre_color: desaturate($lightgray, 8%)
$link_color: $linkblue
$footer_color: darken($text_color, 20%)

@mixin desktop
    @media (min-width: $desktop-width)
        @content

@mixin tablet
    @media (min-width: $tablet-width) and (max-width: $desktop-width)
        @content

@mixin phone
    @media (max-width: $tablet-width)
        @content

@mixin not_desktop
    @include tablet
        @content
    @include phone
        @content

@mixin not_tablet
    @include desktop
        @content
    @include phone
        @content

@mixin not_phone
    @include desktop
        @content
    @include tablet
        @content

@mixin header_tag($n)
    margin-top: (4 - $n) * 7px
    margin-bottom: 7px - (2 * $n)
    font-size: 1.8em - $n * 0.2em
    padding: 0px 3px
    color: $bold_color
    
*
    margin: 0px
    padding: 0px
    -webkit-margin-before: 0px
    -webkit-margin-after: 0px
    -moz-margin-before: 0px
    -mox-margin-after: 0px
    -ie-margin-before: 0px
    -ie-margin-after: 0px
    margin-before: 0px
    margin-after: 0px
    
body
    display: block
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background: $darkgrayblue
    //background: url("images/Lan_is_coming.jpg")
    background-style: cover
    background-postition: center top
    font-family: $bodyfont

a
    color: $link_color

#body_container
    //background-color: rgba(255,255,255,0.2)
    color: $text_color
    margin: 100px 0px
    @include not_phone
        margin: 100px auto
    @include desktop
        width: $desktop-width
    @include tablet
        width: $tablet-width
    @include phone
        margin: 0px
        width: 100%


#body_container > header
    @include phone
        padding-top: $article_spacing
    background-color: $tile_color
    color: #FFFFFF
    text-align: center
    padding-bottom: 0px
    font-family: $headerfont
    margin-bottom: -0px
    nav table
        width: 100%
        margin-top: 15px
        td a
            color: $bold_color
            text-decoration: none
            text-transform: uppercase
            border-bottom: 2px solid $lightgray
            padding: 2px 5px


#body_container > header h1
    text-decoration: none
    font-size: 3em
    letter-spacing: 4px


#body_container > main
    padding-bottom: $article_spacing

article
    background-color: $tile_color
    border: 2px solid $lightgray
    margin-top: $article_spacing
    @include phone
        border-left: none
        border-right: none

article:not(:last-child)
    @include phone
        border-bottom: none

article header
    background-color: $grayererblue
    padding: 4px 10px



article header h1
    font-weight: normal
    font-size: 20px
    color: #FFFFFF
    text-decoration: underline
    padding-bottom: 2px

article section
    padding: 10px
    
    h1
        @include header_tag(1)
        display: block
        border-bottom: 2px solid $lightgray
    h2
        @include header_tag(2)
    h3
        @include header_tag(3)
    h4
        @include header_tag(4)
    
    p:not(:last-child)
        margin-bottom: 0.5em
    
    form table
        border-spacing: 6px  
        
    ul
        list-style: square inside
    
    textarea
        width: 100%
        min-width: 100%
        max-width: 100%
        min-height: 100px

em
    font-style: normal
    font-weight: bold
    color: $bold_color
    
pre
    padding: 10px
    margin: 10px
    background-color: $pre_color
    color: #000
    overflow-x: auto
    font-family: $prefont

textarea
    background-color: $pre_color
    color: #000
    font-family: $prefont
    margin: 10px 0px

#body_container > footer
    padding: 20px
    font-size: 12px
    text-align: center
    color: $footer_color


.pipelist
    list-style: none

.pipelist li
    display: inline

.pipelist li:before
    content: "| "

.pipelist li:first-child:before
    content: ""

.loginform
    width: 400px
    text-align: right
    margin: 0px auto

.loginform div
    text-align: center
    margin: 0px -50px

.loginform *
    margin: 5px

.loginform input[type=text], .loginform input[type=password]
    width: 100%

.loginform input[type=submit], .loginform input[type=button]
    width: 100%
    margin: 10px
    

input
    font-family: $bodyfont
    font-size: 16px
    font-weight: bold

input[type=submit], input[type=button]
    padding: 6px
    background-color: $grayererblue
    border: solid 2px $lightgray
    color: white

input[type=text], input[type=password], textarea
    width: 200px
    border: solid 2px $lightgray
    background-color: desaturate(lighten($grayererblue,30%),10%)
    color: white
    padding: 2px

.error
    border-color: red 

.message
    border-color: green

ul form
    display: inline
    margin: 0px 5px

ul li
    margin: 5px
