﻿{% extends "index.html" %}
{% block title %}EskeLAN - Administrasjon{% endblock %}
{% block main %}
<article>
    <header>
	<h1>Brukere</h1>
    </header>
    <section>
        <h2>Legg til ny bruker</h2>
        <form action="/request/adduser" method="POST">
            <p>E-postaddresse: <input type="text" name="email" /> <input type="submit" value="Legg til bruker" /></p>
        </form>
        <ul>
            {% for user in users %}
            <li>
		<a href="{{ user.get_url() }}">{{ user.participantname }}</a>
		<form action="/request/resetpassword" method="POST">
		    <input type="submit" value="Reset passord" />
		    <input type="hidden" name="userid" value="{{ user.id }}" />
		</form>
		<form action="/request/deleteuser" method="POST">
		    <input type="submit" value="SLETT BRUKER" style="color: red" />
		    <input type="hidden" name="userid" value="{{ user.id }}" />
		</form>
	    </li>
            {% endfor %}
        </ul>
    </section>
</article>
<article>
    <header>
	<h1>Lag</h1>
    </header>
    <section>
        {% if teams|length > 0 %}
        <ul>
            {% for team in teams %}
            <li><a href="{{ team.get_url() }}">{{ team.participantname }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Det er ingen registrerte lag.</p>
        {% endif %}
        <h2>Legg til nytt lag</h2>
        <form action="/request/addteam" method="POST">
            <p>Lagnavn: <input type="text" name="name" /> <input type="submit" value="Legg til lag" /></p>
        </form>
    </section>
</article>
<article>
    <header>
	<h1>Events</h1>
    </header>
    <section>
        {% if events|length > 0 %}
        <ul>
            {% for event in events %}
            <li><a href="{{ event.get_url() }}">{{ event.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Det er ingen registrerte events.</p>
        {% endif %}
        <h2>Legg til nytt event</h2>
        <form action="/request/addevent" method="POST">
            <p>Tittel: <input type="text" name="title" /> <input type="submit" value="Legg til event" /></p>
        </form>
    </section>
</article>
{% endblock %}
