{% extends "index.html" %}
{% block title %}EskeLAN - Informasjon{% endblock %}
{% block main %}
<article>
	<header>
		<h1>Hei, skal du arrangere EskeLAN 2016?</h1>
	</header>
	<section>
		<p><a href="https://bitbucket.org/northcode/excellant">Vi har lagt ut kildekoden for denne nettsiden</a>. Den er Flask-basert (python), men er litt vanskelig å sette opp for nybegynnere.</p>
		<p>Dere kan bruke vårt arbeid som en mal.</p>
		<p><b>Denne siden vil kanskje ikke være hostet så veldig mye lenger. Noter linken!</b></p>
	</section>
</article>
<article>
	<header>
		<h1>Informasjon om LANet</h1>
	</header>
	<section>
		<p>Voss FHS arrangerer EskeLAN for andre gang. LANet blir holdt på skolen fra <em>24. april 17:00 til 26. april 16:00</em>. Alle er velkomne, både elever, lærere og andre.</p>
		<p><em>Inngangsbillett koster 50,-kr</em>. Måltidspakke med alle måltider koster 150,-kr. Elever på Voss FHS trenger ikke betale. Vi har soveplasser på skolen inkludert i billettprisen.</p>
	</section>
</article>
<article>
    <header><h1>MELDING</h1></header>
    <section>
	<p>Alle møter i kiosken etter kvelds for betaling og registrering</p>
    </section>
</article>
<article>
    <header><h1>Alle events</h1></header>
    <section>
	<ul>
	{% for event in events %}
	    <li><a href="{{ event.get_url() }}">{{ event.title }}</a></li>
	{% endfor %}
	</ul>
    </section>	    
</article>
{% endblock %}
