﻿{% extends "index.html" %}
{% block title %}EskeLAN - Informasjon{% endblock %}
{% block main %}
<article>
	<header>
		<h1>Rediger profil</h1>
	</header>
	<section>
	    <form method="POST">
            <table>
                <tr><td>Brukernavn:</td><td><input type="text" name="username" value="{{ user.participantname }}" /></td></tr>
                <tr><td>Current Passord:</td><td><input type="password" name="password" /></td></tr>
                <tr><td>Nytt Passord:</td><td><input type="password" name="newpass" /></td></tr>
                <tr><td>Bekreft nytt Passord:</td><td><input type="password" name="confpass" /></td></tr>
                {% if current_user.is_admin() %}
                <tr><td>Sett brukernivå:</td><td><select name="userlevel">
                    <option value="-1">Velg brukernivå</option>
                    <option value="0">Bannlyst</option>
                    <option value="1">Bruker</option>
                    <option value="2">Moderator</option>
                    <option value="3">Admininistrator</option>
                {% endif %}
                <tr><td></td><td><input type="submit" value="Lagre" /></td></tr>
            </table>
	    </form>
	</section>
</article>
<article>
	<header>
		<h1>Slett profil</h1>
	</header>
	<section>
	    <form action="/request/deleteuser" method="POST">
            <input type="hidden" name="userid" value="{{ user.id }}" />
            <p><input type="submit" value="Slett bruker for alltid (veldig lenge)" /></p>
	    </form>
	</section>
</article>
{% endblock %}
