{% extends "index.html" %}
{% block title %}EskeLAN - {{ event.title }}{% endblock %}
{% block main %}
<article>
    <header>
	<h1>EVENT: {{ event.title }}</h1>
    </header>
    <section>
	<p>{{ event.description|markdown|safe }}</p>
    </section>
</article>
<article>
    <header><h1>Påmeldte</h1></header>
    <section>
	<ul>
	{% for participant in event.participants %}
	<li><a href="{{ participant.get_url() }}">{{participant.participantname}}</a></li>
	{% else %}
	<li>Ingen har meldt seg på {{ event.title }}.</li>
	{% endfor %}
	</ul>
    </section>
</article>
{% if is_logged_in() %}
<article>
    <header><h1>Eventpåmelding</h1></header>
    <section>
	{% if not event.is_participant(current_user.id) %}
	<form method="POST" action="/request/joinevent">
	    <input type="hidden" name="eventid" value="{{ event.id }}" />
	    <input type="hidden" name="participantid" value="{{ current_user.id }}" />
	    <input type="submit" name="user" value="Meld meg på" />
	</form>
	{% else %}
	<form method="POST" action="/request/leaveevent">
	    <input type="hidden" name="eventid" value="{{ event.id }}" />
	    <input type="hidden" name="participantid" value="{{ current_user.id }}" />
	    <input type="submit" name="user" value="Meld meg av" />
	</form>
	{% endif %}
	{% for team in current_user.teams %}
	{% set membership = current_user.get_membership(team.id) %}
	{% if membership and membership.ismod %}
	{% if not event.is_participant(team.id) %}
	<form method="POST" action="/request/joinevent">
	    <input type="hidden" name="eventid" value="{{ event.id }}"/>
	    <input type="hidden" name="participantid" value="{{ team.id }}" />
	    <input type="submit" value="Meld på mitt lag ({{ team.participantname }})" name="jointeam" />
</select>
</form>
{% else %}
<form method="POST" action="/request/leaveevent">
    <input type="hidden" name="eventid" value="{{ event.id }}"/>
    <input type="hidden" name="participantid" value="{{ team.id }}" />
    <input type="submit" value="Meld av mitt lag ({{ team.participantname }})" name="jointeam" />
</select>
</form>
{% endif %}
{% endif %}
{% endfor %}
</section>
</article>
{% if current_user.is_event_admin(event.id) %}
<article>
    <header><h1>Rediger Event</h1></header>
    <section>
	<form method="POST" action="/request/editevent">
	    <input type="hidden" name="eventid" value="{{ event.id }}" />
	    <input type="text" name="title" value="{{ event.title }}" />
	    <textarea name="description">{{ event.description }}</textarea>
	    <input type="submit" value="Lagre" />
	</form>
    </section>
</article>
{% endif %}
{% endif %}
<article>
    <header><h1>Event-administratorer</h1></header>
    <section>
        <ul>
            {% for admin in event.eventmanagers %}
            <li><a href="{{ admin.get_url() }}">{{ admin.participantname }}</a></li>
            {% endfor %}
        </ul>
        {% if is_logged_in() and current_user.is_event_admin(event.id) %}
        <form method="POST" action="/request/addeventadmin">
            <input type="hidden" name="eventid" value="{{ event.id }}" />
            <p>Brukernavn: <input type="text" name="username" /> <input type="submit" value="Legg til" /></p>
        </form>
        {% endif %}
    </section>
</article>
{% endblock %}
