<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
	<meta property="og:site_name" content="EskeLAN" />
	<meta property="og:title" content="{% block title %}EskeLAN{% endblock %}" />
	<meta property="og:description" content="Offisiell side for EskeLAN 2015" />
	<meta property="og:image" content="{% block og_image %}{{ url_for('static', filename='images/eske.png') }}{% endblock %}" />
	<meta property="og:url" content="{% block og_url %}http://www.eskelan.com{% endblock %}" />
	<title>{{ self.title() }}</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    </head>
    <body>
	<div id="body_container">
	    <header>
		<h1>ESKELAN 2015</h1>
		<nav>
		    <table>
			<tr>
			    <td><a href="/">Hjem</a></td>
			    <td><a href="https://docs.google.com/spreadsheets/d/15fuuVOf45a5fJLIIdnDsRrqkZwXs_5lFTkB70jmqjXg/edit?usp=sharing">Program</a></td>
			    <td><a href="https://www.facebook.com/events/291801194277447/">Facebook</a></td>			
			    {% if is_logged_in() %}
			    {% if current_user.is_mod() %}
			    <td><a href="/admin">Administrasjon</a></td>
			    {% endif %}
			    <td><a href="{{ current_user.get_url() }}">Min profil</a></td>
			    <td><a href="/logout">Logg ut</a></td>
			    {% else %}
			    <td><a href="/login">Logg inn</a></td>
			    {% endif %}
			</tr>
		    </table>
		</nav>
	    </header>
	    <main>
		{% if error %}
		<article class="error">
		    <header><h1>Error</h1></header>
		    <section><p>{{ error }}</p></section>
		</article>
		{% endif %}
		{% if message %}
		<article class="message">
		    <header><h1>Melding</h1></header>
		    <section><p>{{ message }}</p></section>
		</article>
		{% endif %}
		{% block main %}{% endblock %}
	    </main>
	    <footer>
		<p>Hjemmeside for EskeLAN 2015 @ Voss FHS.<br/>Laget av Odd Kristian Kvarmestøl, Andreas Larsen og Erlend Åmdal. <br/><b>Copyright &copy; 2015</b><br/>Jomo 100% Approved</p>
	    </footer>
	</div>
    </body>
</html>
