﻿{% extends "index.html" %}
{% block title %}EskeLAN - Logg inn{% endblock %}
{% block main %}
<article>
    <header>
	<h1>Logg inn</h1>
    </header>
    <section>
	<div class="loginform">
	    <form action="/login" method="POST">
            <table>
                <tr><td>Epostaddresse:</td><td><input type="text" maxlength="50" name="username" /></td></tr>
                <tr><td>Passord:</td><td><input type="password" name="password" /></td></tr>
                <tr><td></td><td style="text-align: right;"><input type="submit" value="Logg inn" /></td></tr>
                <tr><td></td><td><a href="/resetpassword">Glemt passord?</a></p></td></tr>
            </table>
            <div>
                <h3>Mangler du en bruker?</h3>
                <p>Alle deltakere får innloggingsinformasjon tilsendt på mail ved betaling. Dersom du ikke har fått dette, kontakt en av arrangørene.</p>
            </div>
        </form>
	</div>
    </section>
</article>
{% endblock %}
