{% extends "index.html" %}
{% block title %}EskeLAN - Opprett et lag{% endblock %}
{% block main %}
<article>
	<header>
		<h1>Opprett et lag</h1>
	</header>
	<section>
		<form id="maketeam_form" action="/request/addteam" method="POST">
            <p>Navn: <input type="text" name="name" /> <input type="submit" value="Opprett lag" /></p>
        </form>
	</section>
</article>
{% endblock %}
