﻿{% extends "index.html" %}
{% block title %}EskeLAN - Logg inn{% endblock %}
{% block main %}
<article>
    <header>
	<h1>Resett passord</h1>
    </header>
    <section>
        <p>Dersom du har glemt passordet ditt kan du få et nytt passord tilsendt.</p>
	    <form method="POST">
            <p>Din epostaddresse: <input type="text" name="email" /></p>
            <p><input type="submit" value="Send nytt passord" /></p>
        </form>
    </section>
</article>
{% endblock %}
