{% extends "index.html" %}
{% block title %}EskeLAN - {{ team.participantname }}{% endblock %}
{% block main %}
{% if is_logged_in() %}
{% set membership = current_user.get_membership(team.id) %}
{% set can_moderate = (is_logged_in() and current_user.is_mod()) or (membership and membership.ismod) %}
{% endif %}
<article>
	<header>
		<h1>LAG: {{ team.participantname }}</h1>
	</header>
</article>
<article>
	<header>
		<h1>Medlemmer</h1>
	</header>
	<section>
        {% set members = team.users %}
        {% if members|length == 0 %}
        <p>Laget har ingen medlemmer.</p>
        {% else %}
        <ul>
            {% for member in members %}
            <li><a href="{{ member.get_url() }}">{{ member.participantname }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if can_moderate %}
        <h3>Registrer flere medlemmer</h3>
        <form action="/request/setteammember" method="POST">
            <input type="hidden" name="teamid" value="{{ team.id }}" />
            <p><input type="text" name="username" /> <input type="submit" value="Registrer medlem" />
        </form>
        {% endif %}
	</section>
</article>
{% if (is_logged_in() and current_user.is_mod()) or membership %}
<article>
	<header>
		<h1>Ditt medlemskap</h1>
	</header>
	<section>
        {% if can_moderate %}
        <p>Du er moderator for {{ team.participantname }}. Du har rettigheter til å legge til og fjerne medlemmer, samt slette laget.</p>
        {% else %}
        <p>Du er medlem av {{ team.participantname }}</p>
        {% endif %}
        {% if membership %}
        <form action="/request/deleteteammember" method="POST">
            <input type="hidden" name="teamid" value="{{ team.id }}" />
            <input type="hidden" name="userid" value="{{ current_user.id }}" />
            <p><input type="submit" value="Meld deg ut av {{ team.participantname }}" /></p>
        </form>
        {% endif %}
        {% if can_moderate %}
        <form action="/request/deleteteam" method="POST">
            <input type="hidden" name="teamid" value="{{ team.id }}" />
            <p><input type="submit" value="Slett {{ team.participantname }} for alltid (veldig lenge)" /></p>
        </form>
        {% endif %}
	</section>
</article>
{% endif %}
{% endblock %}
