{% extends "index.html" %}
{% block title %}EskeLAN - {{ user.participantname }}{% endblock %}
{% block main %}
<article>
	<header>
		<h1>BRUKER: {{ user.participantname }}</h1>
	</header>
	<section>
		<p><b>Brukernavn:</b> {{ user.participantname }}</p>
        {% if is_logged_in() %}
        {% if current_user.is_admin() or current_user.id == user.id %}
		<a href="/edituser/{{ user.id }}">Rediger bruker</a>
        {% endif %}
        {% endif %}
	</section>
</article>

<article>
    <header>
        <h1>Lag</h1>
    </header>
    <section>
        {% set teams = user.teams %}
        {% if teams|length == 0 %}
        <p><b>Ikke medlem av et lag.</b></p>
        {% elif teams|length == 1 %}
        <p>{{ user.participantname }} er medlem av <a href="/team/{{ teams[0].participantname }}">{{ teams[0].participantname }}</a></p>
        {% else %}
        <p>{{ user.participantname }} er medlem av:</p>
        <ul>
            {% for user in teams %}
            <li><a href="{{ user.get_url() }}">{{ user.participantname }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if is_logged_in() %}
        <p><a href="/maketeam">Opprett et lag</a></p>
        {% endif %}
    </section>
</article>
{% endblock %}
